@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
body {
  font-family: "Spartan", sans-serif;
  font-weight: 700px;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsl(222, 26%, 31%);
}
